.card {
    border: solid 1px black;
    border-radius: 4px;
    padding: 20px;
    margin-top: 30px;
    background-color: darken($turkis, 10%);

    &:hover {
        background-color: $turkis;

        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
         box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

         img {
            width: 100%;

            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
             box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
}