// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Nunito&display=swap');


// Fonts

$headingFont: 'Luckiest Guy', cursive;
$bodyFont: 'Nunito', sans-serif;

// Colors

$yellow: #FAFD7C99;
$offwhite: #FFFFD6;
$green: rgba(177,249,156, 1);
$grey: #A4B0BF;
$turkis: #04BFBF;
$black: #000;




